
{%  extends 'base.html' %}

{% block title %} Add New Category {% endblock %}

    {% block content %}   

<div class="container text-light">
    <form method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Category Name</label>
          <input type="text" class="form-control" name="name" id="exampleInputEmail1">
        </div>

        <button type="submit" class="btn btn-outline-light w-25 mx-auto">Add New Category </button>
      </form>
</div>
    {% endblock %}


















